<div class="table-container">

  <%= link_to root_path do %>
    <i class="fa-solid fa-arrow-left circle-black"></i>
  <% end %>

  <div class="title-container">
    <div class="diary-title">
      <h2><%= @diary.title %></h2>
      <p><%= @entries.count %> total entries  |  Created on <%= @diary.created_at.strftime("%a. %d/%m/%Y") %></p>
    </div>

    <div class="diary-new">
      <%= link_to "New Entry", new_diary_entry_path, class: "btn-new-diary" %>
    </div>
  </div>


  <% if @entries.empty? %>
    <h2>No Entries yet</h2>
  <% else %>
    <div class="entries-table">
      <table>
        <thead>
          <tr>
            <th>Entry</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td>
                <%= link_to edit_entry_path(entry) do %>
                  <div class="entry-title"><%= entry.title %></div>
                  <div class="entry-description"><%= entry.content.first(50)... %></div>
                <% end %>
              </td>
              <td><%= entry.created_at.strftime("%a. %d/%m/%Y") %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

</div>
