<div class="search-bar">
    <%= form_with url: friendships_path(params[:query]), method: :get, local: true, html: { autocomplete: "off" }, class: "search-form" do |f| %>
      <i class="fa-solid fa-magnifying-glass" style="color: #b8b8b8;"></i>
      <%= f.text_field :query, placeholder: "Search for a new friend", value: params[:query], class: "search-field" %>
      <%= f.submit "Search", class: "hidden-button" %>
    <% end %>
  </div>

<h2>My Friends:</h2>
<ul>
  <% @accepted.each do |friend| %>
    <li><%= friend.forename %> <%= friend.surname %></li>
  <% end %>
</ul>

<h2>Pending:</h2>
<ul>
  <% @pending.each do |friend| %>
    <li><%= friend.forename %> <%= friend.surname %> - Accept | Reject</li>
  <% end %>
</ul>
